.page-footer{
  
  .footer-icon{
    color:white;
    font-size: 2rem;
  }

  .footer-button{
    background-color: #ee6e73;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .footer-button:hover{
    background-color: #ef9a9a;
  }
}