.header{
  .active{
    background-color: #ea454b;
  }

  .dropdown-root-container{
    padding: 0px;
    background-color: #ee6e73;
    position: relative;
    min-width:80px;
    text-align: center;
    cursor: pointer;
    
    .Dropdown-control{
      padding-top: 0px;
      padding-right: 0px;
      padding-left: 7px;
      padding-bottom: 0px;
      position: relative;
      overflow: hidden;
      cursor: default;
      outline: none;
      transition: all 200ms ease;
      border:0px;
      background-color: #ee6e73;
    }

    .Dropdown-menu{
      background-color: white;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      border-radius: 4px;
      margin-top: -1px;
      max-height: 200px;
      overflow-y: auto;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 1000;
      -webkit-overflow-scrolling: touch;

      a:hover {
        background-color: #ee6e73;
        color: white;
      }
    }
  }
}
