.slick-carousel{

  @media only screen and (min-width: 0px) {
    .container {
      width: 45%;
    }
  }

  @media only screen and (min-width: 601px) {
    .container {
      width: 95%;
    }
  }
  @media only screen and (min-width: 993px) {
    .container {
      width: 90%;
    }
  }

  i.material-icons {
    color: black;
    font-size: 48px;
  }

  .slick-next {
    z-index: 1;
  }

  .slick-next:before {
    color: black;
    font-size: 25px;
    display: none;

  }

  .slick-prev {
    z-index: 1;
  }

  .slick-prev::before {
    color: black;
    font-size: 25px;
    display: none;
  }
}


