hr.greystyle{
  border: #E1E3DF 1px solid;
}

.Dropdown-control{
  border-radius: 9px;

}

.Dropdown-menu{
  border-radius: 9px;
}

.size-box{
  border-width: 2px;
  border: 1px solid #666;
  background-color: #e7d2a0;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  height: 30px;
  width: 30px;
  text-align: center;
}
