.order-items-table{
  .item-name{
    text-transform: capitalize;
    font-weight: 450;
    font-size: 14px;
  }
  .item-details{
    font-size:12px;
  }

  .material-icons{
    font-size:22px;
    cursor: pointer;
  }

  .remove-action{
    cursor: pointer;
    text-decoration: underline
  }
}